body {
    background-color: #F5F5F5;
}
p {
    font-size: 20px;
    color:#333333;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 30px;
}
.header_image {
    background-image:url('http://mark.pe/sources/images/page-headers/bg1.jpg');
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
}

#headers {

}
#right {
    float: right;
}
#home_image {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
.custom {
    margin-top: 350px;
    background-color: #EDEDED ;
    position:relative;
}
.nd {
    background-color: #FDFDFD;
}
.rd {
    background-color: #F7F7F7;
}
.rth {
    background-color: #EDEDED;
}
.fth {
    background-color: #242424;
    color: #a5a5a5;
    border-top: solid #00DDFF 5px;
}
.head_text {
    font-weight: bold;
    color: white;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
}
.foot_text {
    font-weight: bold;
    color: white;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    display: inline-block;
}
#center {
    display: inline-block;
}



/* social icons */
.social-icons {margin:0 0 20px;}
.social-icons li {display:inline-block; margin:5px;vertical-align: middle;}
.social-icons li a {display:inline-block; width:30px; height:30px; text-indent:-9999px; background-image:url(http://mark.pe/sources/images/social-icons-sprite.png); background-repeat: no-repeat; position:relative; background-color: #111; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
-webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; transition: all 0.2s ease-out; }
.social-icons li a:hover {background-color:#38a5f8; box-shadow:0 0 6px rgba(0,0,0,0.4)}

.social-icons.has_gradient li a:after {content:''; position:absolute; left:0; top:0; width:100%; height:100%;
background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.2) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.2))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.2) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#33000000',GradientType=0 ); /* IE6-9 */}

.social-icons li.social-twitter a {background-position:0 0;}
.social-icons li.social-facebook a {background-position:-60px 0;}
/* colored */
.social-icons.colored li.social-twitter a,
.social-icons.coloredHov li.social-twitter a:hover {background-color:#00bdec;}
.social-icons.colored li.social-facebook a,
.social-icons.coloredHov li.social-facebook a:hover {background-color:#3b5998;}


.social-icons.colored li a:hover {background-color:#121212;}


.black_border{border:10px solid black;
-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
-webkit-box-shadow:0 4px 10px rgba(0,0,0,0.5);-moz-box-shadow:0 4px 10px rgba(0,0,0,0.5);box-shadow:0 4px 10px rgba(0,0,0,0.5); 
-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.white_border{border:10px solid white;
-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;
-webkit-box-shadow:0 4px 10px rgba(0,0,0,0.5);-moz-box-shadow:0 4px 10px rgba(0,0,0,0.5);box-shadow:0 4px 10px rgba(0,0,0,0.5);
-webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}